.navLinks li {
  list-style: none;
  padding: 0.75rem 1rem;
}

.navLinks li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}
.navLinks {
  padding-block: 1.5rem;
  padding-inline: 0;
  border-bottom: 0.01rem solid hsl(257, 7%, 63%);
}
@media (width> 375px) {
  .navLinks li a {
    color: hsl(0, 0%, 75%);
  }
  .navLinks {
    display: flex;
    flex-direction: row;
    border: none;
    padding-block: 0;
  }
}
