@import '../SCSS/variables.module';
@import '../SCSS/screens.module';
.section {
  position: relative;
  margin-top: 5.75rem;
  margin-inline: 1.35rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;

  color: $clr-very-dark-violet;
}
.content {
  margin-top: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: $clr-grayish-violet;
}
.features_grid {
  margin-top: 5.5rem;
  display: grid;
  gap: 5.4rem;
  list-style: none;
  padding: 0;
}

.divider {
  $div_width: 0.5rem;
  position: absolute;
  width: $div_width;
  height: 40rem;
  left: calc(50% - $div_width / 2);
  top: 15rem;
  background-color: $clr-cyan;
  z-index: -1;
}
