html,
body {
  padding: 0;
  margin: 0;
  display: grid;
  place-content: center;
  grid-template-columns: fit-content;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}
